# Iris Dataset
## Import Libraries & Upgrade Pip

In [4]:
# Upgrade command
!pip install --upgrade pip

# Install Requests
!pip install requests

Requirement already up-to-date: pip in /home/nbuser/anaconda3_501/lib/python3.6/site-packages (20.1.1)
Requirement already satisfied: requests in /home/nbuser/anaconda3_501/lib/python3.6/site-packages (2.22.0)
Requirement already satisfied: certifi>=2017.4.17 in /home/nbuser/anaconda3_501/lib/python3.6/site-packages (from requests) (2018.10.15)
Requirement already satisfied: idna<2.9,>=2.5 in /home/nbuser/anaconda3_501/lib/python3.6/site-packages (from requests) (2.7)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /home/nbuser/anaconda3_501/lib/python3.6/site-packages (from requests) (1.23)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /home/nbuser/anaconda3_501/lib/python3.6/site-packages (from requests) (3.0.4)

In [5]:
# Imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns 
import json
import requests
import datetime
import time

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler,PolynomialFeatures
from sklearn.linear_model import Ridge
from sklearn.preprocessing import PolynomialFeatures
from collections import namedtuple
from datetime import datetime
from sklearn.metrics import mean_squared_error
from math import sqrt
from matplotlib.pyplot import figure
from urllib.request import urlretrieve

In [13]:
iris_df = pd.read_csv('iris.csv')
iris_df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [16]:
iris_df.rename(columns={'sepal.length':'Sepal Lenght'}, inplace=True)
iris_df.head()

   Sepal Lenght  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [17]:
iris_df.rename(columns={'sepal.width':'Sepal Width', 'petal.length':'Petal Lenght', 'petal.width':'Petal Width', 'variety':'Variety'}, inplace=True)
iris_df.head()

   Sepal Lenght  Sepal Width  Petal Lenght  Petal Width Variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [18]:
# let's examine the types of the column labels
all(isinstance(column, str) for column in iris_df.columns)

True

In [21]:
iris_df.set_index('Variety', inplace=True)

# let's view the first five elements and see how the dataframe was changed
iris_df.head()

         Sepal Lenght  Sepal Width  Petal Lenght  Petal Width
Variety
Setosa            5.1          3.5           1.4          0.2
Setosa            4.9          3.0           1.4          0.2
Setosa            4.7          3.2           1.3          0.2
Setosa            4.6          3.1           1.5          0.2
Setosa            5.0          3.6           1.4          0.2

In [23]:
iris_df['Total']=iris_df.sub(axis=1)
iris_df.head()

TypeError: f() missing 1 required positional argument: 'other'